@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$dark: #292929;
$darker: #1d1d1d;
$light: #e5e5e5;
$white: #fff;

:root {
  --background-body: #292929;
  --background-content: #1d1d1d;
  --text-color: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  line-height: 1.5;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: var(--background-body);
  color: var(--text-color);
}

.header {
  background: var(--background-content);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

header .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

svg {
  margin-top: 3px;
  width: 1.5rem;
  transition: 0.3s ease-in-out;
}

.logo:hover svg {
  transform: scale(1.2) rotate(180deg);
  color: #bf9b30;
}

.theme {
  padding: 0.2rem 0.4rem 0rem 0.4rem;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
}

article {
  margin: 5rem 0rem;
  width: 100%;
}

article div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

article div .postWrapper div {
  ol {
    padding: 0 1rem;
    padding-top: 1rem;
  }

  pre {
    border-radius: 8px;
  }
  padding: 0;
}

.copy-icon,
.paste-icon {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.code {
  position: relative;
  border-radius: 12px !important;
  padding: 0;
}

.code .copy-icon {
  position: absolute;
  top: 0.8rem;
  right: 1.1rem;
  z-index: 5;
}
